  .App {
    font-family: 'Assistant' ,sans-serif;
  }

  .Chat {
    position: relative;
    display: grid;
    grid-template-columns: 22% auto;
    gap: 1rem;
  }

  .ChatBox-container {
    background: var(--cardColor);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 14vh 60vh auto;;
}

  .Chat-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    height: auto;
    min-height: 80vh;
    overflow: scroll;
  }

  .chat-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow: auto;
}

.message {
  background: #696969ab;
  color: white;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message>span:nth-child(2){
    font-size: 0.7rem;
    color: var(--textColor);
    align-self: end;
}

.own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  background: #07ae12ce;
}

.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
  padding: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

.avatar-img {
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  border-radius: 50%;
  padding: 1px !important;
}

.MuiBadge-root {
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  border-radius: 50%;
  padding: 2px;
}

#uploadPicture {
  width: 144px;
  height: 144px;
  margin: auto;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
}

#spanBack {
  line-height: 1;
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 8;
  border-radius: 50%;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

#upIMG {
  display: flex;
  border-radius: 50%;
  position: absolute;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 9;
  opacity: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(22, 28, 36, 0.64);
}

#upIMG:hover {
  opacity: 1;
}

/* Default styles for .edit-user-box */
.edit-user-box {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* Media query for screens smaller than 768px */
@media (max-width: 800px) {
  .edit-user-box {
    margin-left: 0rem;
    margin-right: 0rem;
    
  }

  .edit-user-box button {
    font-size: 0.750rem;
  }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1200px) {
  .edit-user-box {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* Styles for tablets go here */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #preview {
    left: 28%;
  }
}

/* em-emoji-picker {
  position: absolute;
  bottom: 15rem;
  right: 14rem;
} */

.preview-pic {
  box-shadow: 0.3px 0.5px 2.7px hsl(0, 0%, 0%, 0.14), 
              0.4px 0.8px 1px -3.2px hsl(0, 0%, 0%, 0.14), 
              1px 2px 2.5px -4.5px hsl(0, 0%, 0%, 0.14);
  border-radius: 10px;
  width: fit-content;
  padding: 1rem 1rem;
  height: 25.188rem;
  min-height: 14.375rem;
  background: #5f5f5fb6;
  margin : 0rem 0.5rem
}

.react-pdf__Page__canvas {
  zoom: 30%;
  margin: auto;
}

.react-pdf__Page__textContent.textLayer , .react-pdf__Page__annotations.annotationLayer {
  display: none;
}

.PDF-viewer-can canvas.react-pdf__Page__canvas {
  width: 63rem !important;
  height: 24rem !important;
  object-fit: cover;
  object-position: top;
  border-radius: 2rem 2rem 0rem 0rem;
}

.file-in-message {
  width: 18.899rem;
}